.main{
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/main.jpg');
    background-size: auto;
    background-position: center;
    //opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}